<div class="text">
  <p>
    <%= "This photo was taken on sol #{@photo.sol} (approximate Earth date: #{@photo.earth_date}) of Curiosity's Mars expedition with the #{@photo.camera}." %>
  </p>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= image_tag @photo.img_src %>
  </div>
</div>
