<div class="text">
  <p>
    <%= "This photo was taken on sol #{@photo.sol} (approximate Earth date: #{@photo.formatted_earth_date}) of #{@photo.rover.name}'s Mars expedition with the #{@photo.camera.name}." %>
  </p>
</div>

<div class="row">
  <div class="small-12 columns">
    <%= image_tag @photo.img_src %>
  </div>
</div>
