<div>
  <%= "This photo was taken on sol #{@photo.sol} of Curiosity's Mars expedition." %>
</div>
<div>
  <%= "It was taken with the #{@photo.camera}." %>
</div>
<div>
  <%= image_tag @photo.img_src %>
</div>
