/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation.min
 *= require_self


 */

.header {
  height: 300px;
  background-image: url("biggest-picture.jpg");
  background-repeat:repeat;
  background-position: center;
  background-size: cover;
}

.title {
  padding-top: 190px;
  padding-left: 20px;
}

.title a {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 50px;
  color: #E8E4C2;
  text-decoration: none;
}

body {
  background-color: #302F2C;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  color: #E8E4C2;
}

h2 {
  color: #E8E3C2;
}

h3 {
  color: #E8E4C2;
}

h4 {
  color: #E8E4C2;
}

.query-example {
  background-color: #F8F4AC;
  color: #000;
  font-family: sans-serif;
}

.photo {
  background-color: #52504B;
  padding: 10px;
  margin: 10px;
}

.highlight {
  background-color: #52504B;
  padding: 10px;
  margin: 10px;
}
