<div class="rover-name text">
  Curiosity<br/>
<%= link_to image_tag("curiosity_rover.jpg", class: "rover-photo"), "/rovers/curiosity/photos" %>
</div>

<div class="rover-name text">
  Opportunity<br/>
  <%= link_to image_tag("opportunity_rover.jpg", class: "rover-photo"), "/rovers/opportunity/photos" %>
</div>

<div class="rover-name text">
  Spirit<br/>
  <%= image_tag("spirit_rover.png", class: "rover-photo") %><br/>
  Coming Soon
</div>
