<!DOCTYPE html>
<html>
<head>
  <title>CuriosityApi</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application.css" %>
  <div class="header">Explore the Red Planet</div>
</head>
<body>

<%= yield %>

</body>
</html>
